.input-wrapper{
  margin: 10px;
}
.input-field{
  width: 200px;
  height: 30px;
}
.button{
  width: 200px;
  height: 30px;
}
.container{
  text-align: center;
}
.button-link{
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 20px;
  color: skyblue;

}
.footer-wrapper{
  position: fixed;
  bottom: 0;
  font-size: 10px;
  width: 100%;
  text-align: center;
}